body {
    width: 850px;
    margin: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    background-color: crimson;
    color: #fff;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100vw;
}

.logo a {
    color: #fff;
    text-decoration: none;
    font-size: 24px;
}

.nav-links {
    list-style-type: none;
    display: flex;
}

.nav-links li {
    margin-right: 20px;

}

.nav-links li a {
    text-decoration: none;
    transition: color 0.3s ease;
    color:white;
}

.nav-links li a:hover {
    color: #140c0c;
}


@media screen and (max-width: 700px) {
    .nav-links, .navbar {
        flex-direction: row;
    }
    .logo a {
        font-size: 20px;
    }
    .nav-links li a {
        font-size: 16px;
    }
}

@media screen and (max-width: 200px) {
    .nav-links, .navbar {
        flex-direction: column;
    }
    .navbar{
        padding: 20px;
    }
    .logo a {
        font-size: 16px;
    }
    .nav-links li a {
        font-size: 12px;
    }
}

.posicion{
    position: relative;
    top: 12px;
}